@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-form {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    border-width: 2px;
    border: yellow;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

;
/* w-full px-1 py-1 rounded border-2 border-yellow text-dark/50 text-xs font-Poppins outline-none */